.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#content {
	float: left;
	width: 100%;
}
.post {
	margin: 0 auto;
	padding-bottom: 50px;
	float: left;
	width: 960px;
}
.btn-sign {
	width: 130px;
	margin-bottom: 20px;
	margin: 0 auto;
	border-radius: 5px;
	background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
	background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
	background: -o-linear-gradient(top, #00c6ff, #018eb6);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
	text-align: center;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.btn-sign a {
	color: #fff;
	text-shadow: 0 1px 2px #161616;
}
#mask {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 960px;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
}
.login-popup {
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	background-color: #EEEEEE !important;
	padding: 10px;
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 45%;
	left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	-webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
}
.login-popup_user_add {
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	background-color: #EEEEEE !important;
	padding: 10px;
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 55%;
	left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
	-webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
}
img.btn_close {
	float: right;
	margin: -28px -28px 0 0;
}
fieldset {
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	padding-left: 45px;
	padding-top: 15px;
}
form.signin .textbox label {
	display: block;
	padding-bottom: 7px;
	font-family: Arial, Helvetica, sans-serif;
}
form.signin .textbox span {
	display: block;
}
form.signin p, form.signin span {
	color: #6c6c6c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
form.signin .textbox input {
	background: #ccc;
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	border-top: 1px solid #000;
	color: #000;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 6px 6px 4px;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
}
 form.signin input:-moz-placeholder {
color:#bbb;
text-shadow:0 0 2px #000;
}
form.signin input::-webkit-input-placeholder {
color:#bbb;
text-shadow:0 0 2px #000;
}
.button {
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background: -o-linear-gradient(top, #f3f3f3, #dddddd);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color: #000;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 6px 6px 4px;
	margin-top: 10px;
	font: 12px;
	width: 214px;
	font-family: Arial, Helvetica, sans-serif;
}
.button:hover {
	background: #ddd;
}
.button_sbm {
	background-color: #09F !important;
	color: #FFF;
}
